################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs/2018.08.23_ExcelUnlock/v16/Server/sqlite3
/.vs/2018.08.23_ExcelUnlock/v16/.suo
